.plugin-updater-list-item {
  margin-bottom: 8px;
}

.plugin-updater-list-message {
  margin-bottom: 8px;
  margin-left: 28px;
}

a.plugin-updater-list-link:hover {
  text-decoration: underline;
}

.plugin-updater-button-container {
  display: flex;
}

.plugin-updater-reload {
  margin-left: 6px;
}

.theme-dark {
  .plugin-updater-list-item {
    color: #dcddde;
  }
  .plugin-updater-list-message {
    color: #a1a2a3;
  }
}
.theme-light {
  .plugin-updater-list-item {
    color: #35373b;
  }
  .plugin-updater-list-message {
    color: #72767d;
  }
}