.plugin-updater-list-item {
  margin-bottom: 8px;
  color: var(--text-normal);
}

.plugin-updater-list-message {
  margin-bottom: 8px;
  margin-left: 28px;
  color: var(--text-muted);
}

a.plugin-updater-list-link:hover {
  text-decoration: underline;
}

.plugin-updater-button-container {
  display: flex;
}

.plugin-updater-reload {
  margin-left: 6px;
}